<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aspernatur veniam natus perferendis consequuntur iusto deleniti ratione magnam qui deserunt velit, cumque eum officiis exercitationem nobis tempora nam corporis earum?</p>

    <style>
        body{
            background: rgb(107, 190, 29);
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</body>
</html>